<%# locals: (user:, events:) %>

<% if events.any? %>
  <% cache [user, events, Current.user] do %>
    <% if Current.user && Current.user != user %>
      <div class="space-y-8">
        <div class="mb-6">
          <% if events.upcoming.any? %>
            <div>
              <h3 class="text-lg font-semibold mb-4">Future Events <%= user.name %> and <%= Current.user.name %> are attending</h3>
              <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <%= render partial: "events/card", collection: events.upcoming, as: :event, cached: true %>
              </div>
            </div>
          <% end %>

          <% if events.past.any? %>
            <div>
              <h3 class="text-lg font-semibold mb-4 mt-5">Past Events <%= user.name %> and <%= Current.user.name %> both attended</h3>
              <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <%= render partial: "events/card", collection: events.past, as: :event, cached: true %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
