<%# locals: (user:, stamps:) %>

<% if stamps.any? %>
  <div class="space-y-8">
    <div class="mb-6">
        <div class="mb-4 flex items-center justify-between">
          <h3 class="text-lg font-semibold text-gray-800">
            <%= stamps.size %> <%= "Stamp".pluralize(stamps.size) %> Collected
          </h3>
          <%= link_to "View all stamps", stamps_path, class: "link text-sm", data: {turbo_frame: "_top"} %>
        </div>

        <p class="text-[#636B74] mb-6">
          <%= user.name %> has collected stamps from attending events in <%= pluralize(stamps.map(&:country).compact.uniq.size, "country") %>.
        </p>

        <!-- Stamps Grid -->
        <%= render partial: "shared/stamps_grid", locals: {stamps: stamps} %>
    </div>
  </div>
<% end %>
