<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from user %>

<div class="container py-8">
  <%= render partial: "profiles/header", locals: {user: user} %>
  <%= render partial: "profiles/topics", locals: {topics: topics, user: user, talks: talks} %>

  <hr class="my-6">

  <%= turbo_frame_tag dom_id(user), data: {turbo_action: "advance", turbo_frame: "_top"} do %>
    <%= render partial: "profiles/navigation", locals: {
          user: user,
          talks: talks,
          events: events,
          mutual_events: mutual_events,
          stamps: stamps,
          events_with_stickers: events_with_stickers,
          involvements_by_role: involvements_by_role,
          countries_with_events: countries_with_events
        } %>

    <div class="mt-6">
      <%= yield %>
    </div>
  <% end %>
</div>
