<% if talks.length.positive? %>
  <%# Talks %>
  <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Talks (<%= talks.size %>)" <%= "checked" if talks.size.positive? %>>
  <div role="tabpanel" class="tab-content mt-6">
    <div role="tablist" class="tabs tabs-boxed bg-base-100 mt-2">
      <input type="radio" name="talk_kinds" role="tab" class="tab px-6 !rounded-lg" aria-label="All" <%= "checked" if talks.size.positive? %>>
      <div role="tabpanel" class="tab-content mt-6">
        <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
          <%= render partial: "talks/card",
                collection: talks,
                as: :talk,
                locals: {
                  favoritable: true,
                  user_favorite_talks_ids: user_favorite_talks_ids,
                  user_watched_talks: user_watched_talks,
                  back_to: back_to_from_request,
                  back_to_title: user.name
                } %>
        </div>
      </div>
      <% talks_by_kind.each do |kind, talks| %>
        <input type="radio" name="talk_kinds" role="tab" class="tab px-6 !rounded-lg" aria-label="<%= talks.first.formatted_kind.pluralize %> (<%= talks.size %>)">

        <div role="tabpanel" class="tab-content mt-6">
          <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
            <%= render partial: "talks/card",
                  collection: talks,
                  as: :talk,
                  locals: {
                    favoritable: true,
                    user_favorite_talks_ids: user_favorite_talks_ids,
                    user_watched_talks: user_watched_talks,
                    back_to: back_to_from_request,
                    back_to_title: user.name
                  } %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>
