<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from @user %>

<div class="container py-8">
  <%= render partial: "profiles/header", locals: {user: @user} %>
  <%= render partial: "profiles/topics", locals: {topics: @topics, user: @user, talks: @talks} %>

  <hr class="my-6">

  <div role="tablist" class="tabs tabs-bordered mt-6">
    <%= render partial: "profiles/talks", locals: {user: @user, talks: @talks, user_favorite_talks_ids: @user_favorite_talks_ids, talks_by_kind: @talks_by_kind} %>
    <%= render partial: "profiles/events", locals: {user: @user, events: @events, talks: @talks, participated_events_by_type: @participated_events_by_type} %>
    <%= render partial: "profiles/mutual_events", locals: {user: @user, events: @mutual_events} %>
    <%= render partial: "profiles/stamps", locals: {user: @user, stamps: @stamps} %>
    <%= render partial: "profiles/stickers", locals: {user: @user, events_with_stickers: @events_with_stickers} %>
    <%= render partial: "profiles/map", locals: {user: @user, countries_with_events: @countries_with_events} %>
  </div>
</div>
