<div class="container py-8">
  <div class="flex items-center justify-between w-full hotwire-native:hidden">
    <h1 class="title">
      <%= title "Events by City" %>
    </h1>

    <div class="flex flex-col gap-3 place-items-center">
      <%= ui_button "View all countries", url: countries_path, kind: :secondary, size: :sm, class: "w-full" %>
    </div>
  </div>

  <div class="mt-6">
    <% @countries_by_continent.each do |continent, countries| %>
      <% if countries.any? %>
        <h1 class="mt-8 first:mt-0 text-2xl font-bold"><%= continent %></h1>

        <% countries.each do |country| %>
          <% cities = @cities_by_country[country] %>
          <% next unless cities&.any? %>

          <h2 class="mt-6">
            <% country_object = @events_by_city[cities.first].first.country %>
            <% if country_object.present? %>
              <%= link_to country_path(country.parameterize), class: "hover:underline" do %>
                <%= country_object.emoji_flag %> <%= country %>
              <% end %>
            <% else %>
              <%= country %>
            <% end %>
          </h2>

          <div id="cities-<%= continent.parameterize %>-<%= country.parameterize %>" class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-8 lg:gap-x-12 gap-y-2 min-w-full pt-4 pb-8">
            <% cities.sort.each do |city| %>
              <% events = @events_by_city[city] %>
              <% next if events.nil? %>

              <%= link_to city_path(city.parameterize), id: "city-#{city.parameterize}", class: "event flex justify-between items-center" do %>
                <div class="flex items-center gap-2">
                  <span class="event-name"><%= @clean_city_names[city] %></span>
                </div>
                <%= ui_badge(events.count, kind: :secondary, outline: true, size: :lg, class: "min-w-10") %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
