<div data-video-player-target="playerWrapper">
  <div class="picture-in-picture-container" style="view-transition-name: <%= dom_id(talk, :image) %>">
    <div
      class="image rounded-xl"
      id="<%= dom_id(talk, :vimeo) %>"
      data-video-player-target="player"
      data-vimeo-id="<%= video_id %>"
      data-vimeo-start-time="<%= talk.start_seconds %>"
      data-vimeo-end-time="<%= talk.end_seconds %>">
    </div>
  </div>
</div>
