<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<div class="container flex flex-col w-full gap-4 my-8 hotwire-native:my-0 hotwire-native:mb-8">
  <div class="flex items-end gap-2 title text-primary hotwire-native:mb-3">
    <h1 class="title hotwire-native:hidden" style="view-transition-name: title">

      <% if params[:status] == "scheduled" %>
        <%= title "Scheduled Talks" %>
      <% else %>
        <%= title "Video Recordings of Talks" %>
      <% end %>

      <% if params[:s].present? %>
        : search results for "<%= params[:s] %>"
      <% end %>
    </h1>
  </div>

  <div class="flex flex-col items-end justify-end gap-2 sm:items-center sm:flex-row hotwire-native:hidden">
    <% if filtered_search? %>
      <div class="text-sm">Results: <%= @pagy.count %></div>
    <% end %>

    <div class="tabs tabs-boxed">
      <%= link_to "All", talks_path(search_params.except(:status).merge(status: "all")),
            class: "tab #{"tab-active" if params[:status] == "all"}" %>
      <%= link_to "Published", talks_path(search_params.except(:status)),
            class: "tab #{"tab-active" if params[:status].blank?}" %>
      <%= link_to "Scheduled", talks_path(search_params.except(:status).merge(status: "scheduled")),
            class: "tab #{"tab-active" if params[:status] == "scheduled"}" %>
    </div>

    <div class="flex items-center gap-2">
      <div class="text-sm text-gray-500">Sort by:</div>
      <div class="flex items-center gap-2">
        <details class="dropdown dropdown-end">
          <summary class="pl-0 m-1 font-normal bg-transparent border-none shadow-none btn hover:bg-transparent"><%= ordering_title %></summary>
          <ul class="z-30 p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
            <% if params[:s].present? %>
              <li>
                <%= link_to "Relevance", {**search_params, order_by: "ranked"} %>
              </li>
            <% end %>
            <li>
              <%= link_to "Newest first", {**search_params, order_by: "date_desc"} %>
            </li>
            <li>
              <%= link_to "Oldest first", {**search_params, order_by: "date_asc"} %>
            </li>
          </ul>
        </details>
      </div>
    </div>
  </div>
  <%= turbo_frame_tag "talks", target: "_top" do %>
    <div id="talks" class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gallery">
      <%= render partial: "talks/card",
            collection: @talks,
            as: :talk,
            locals: {
              favoritable: true,
              user_favorite_talks_ids: @user_favorite_talks_ids,
              user_watched_talks: user_watched_talks,
              back_to: back_to_from_request
            } %>
    </div>
    <div class="flex w-full mt-4">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  <% end %>
</div>
