<%= link_to sponsor_path(sponsor), id: dom_id(sponsor), class: "flex justify-between" do %>
  <div class="flex items-center gap-2">
    <% if sponsor.sponsor_image_for("avatar.webp") %>
      <%= image_tag image_path(sponsor.avatar_image_path), class: "size-8 rounded-full", loading: "lazy" %>
    <% else %>
      <div class="avatar placeholder">
        <div class="size-8 rounded-full bg-primary text-neutral-content">
          <span class="text-sm"><%= sponsor.name.split(" ").map(&:first).join.first(2) %></span>
        </div>
      </div>
    <% end %>

    <span><%= sponsor.name %></span>
  </div>

  <%= ui_badge(sponsor.events.count, kind: :secondary, outline: true, size: :lg, class: "min-w-10") %>
<% end %>
