<%= link_to sponsor_path(sponsor), id: dom_id(sponsor), class: "flex justify-between" do %>
  <div class="flex items-center gap-2">
    <% if sponsor.has_logo_image? %>
      <%= image_tag sponsor.logo_image_path,
            class: "size-8 rounded object-contain p-1 border border-[#D9DFE3]",
            alt: "#{sponsor.name} Logo",
            loading: "lazy",
            onerror: "this.style.display='none'; this.nextElementSibling.style.display='block';" %>
      <div class="avatar placeholder hidden">
        <div class="size-8 rounded bg-gray-100 text-gray-600 border border-[#D9DFE3] flex items-center justify-center">
          <span class="text-sm font-bold"><%= sponsor.name.split(" ").map(&:first).join.first(2) %></span>
        </div>
      </div>
    <% elsif sponsor.sponsor_image_for("avatar.webp") %>
      <%= image_tag image_path(sponsor.avatar_image_path), class: "size-8 rounded border border-[#D9DFE3]", loading: "lazy" %>
    <% else %>
      <div class="avatar placeholder">
        <div class="size-8 rounded bg-gray-100 text-gray-600 border border-[#D9DFE3] flex items-center justify-center">
          <span class="text-sm font-bold"><%= sponsor.name.split(" ").map(&:first).join.first(2) %></span>
        </div>
      </div>
    <% end %>

    <span class="line-clamp-1"><%= sponsor.name %></span>
  </div>

  <%= ui_badge(sponsor.events.count, kind: :secondary, outline: true, size: :lg, class: "min-w-10") %>
<% end %>
