<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<div class="container py-8">
  <div class="block lg:flex gap-8 align-center justify-between">
    <div class="flex flex-col lg:flex-row gap-8 items-center lg:justify-right text-center lg:text-left mb-6 lg:mb-0">
      <span class="fi fi-<%= @country.alpha2.downcase %> border rounded w-36 text-[80pt]"></span>
      <div class="flex-col flex justify-center">
        <h1 class="mb-2 text-black font-bold" style="view-transition-name: title">
          <%= title @country.translations["en"] %>
        </h1>
        <h3 class="hidden md:block text-[#636B74]">
          <% if @country.present? %>
            <%= @country.translations["en"] %>, <%= @country.continent %>
          <% end %>
        </h3>
      </div>
    </div>

    <div class="flex flex-col gap-3 place-items-center">
      <%= ui_button "View all countries", url: countries_path, kind: :secondary, size: :sm, class: "w-full" %>
    </div>
  </div>

  <p class="mt-3 md:mt-9 mb-6 text-[#636B74] max-w-[700px]">
    We have indexed <%= pluralize(@users.count, "Rubyist") %> and <%= pluralize(@events.count, "event") %> in <%= @country.translations["en"] %>.
  </p>

  <div id="rubyists" class="mt-12">
    <section class="flex flex-col w-full gap-4">
      <div class="flex items-center justify-between w-full">
        <h2 class="text-primary shrink-0">Rubyists in <%= @country.translations["en"] %></h2>
      </div>
      <% if @users.any? %>
        <div class="grid min-w-full grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          <%= cache @users do %>
            <%= render partial: "users/card", collection: @users, as: :user, cached: true %>
          <% end %>
        </div>
      <% else %>
        <p class="text-[#636B74]">No Rubyists with location set to <%= @country.translations["en"] %> yet.</p>
      <% end %>
    </section>
  </div>

  <% if (groups = @events.group_by(&:kind)).any? %>
    <% groups.each do |kind, events| %>
      <div id="events" class="mt-12">
        <section class="flex flex-col w-full gap-4">
          <div class="flex items-center justify-between w-full">
            <h2 class="text-primary shrink-0"><%= kind.humanize.pluralize %></h2>
          </div>
          <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
            <%= cache events do %>
              <%= render partial: "events/card", collection: events, as: :event, cached: true %>
            <% end %>
          </div>
        </section>
      </div>
    <% end %>
  <% end %>

  <% if @stamps.any? %>
    <div id="stamps" class="mt-12">
      <section class="flex flex-col w-full gap-4">
        <div class="flex items-center justify-between w-full mb-4">
          <h2 class="text-primary shrink-0">Passport Stamps</h2>
          <%= link_to "see all stamps", stamps_path, class: "link" %>
        </div>

        <%= render partial: "shared/stamps_grid", locals: {stamps: @stamps, min_rows: 1} %>
      </section>
    </div>
  <% end %>

  <% if @events_by_city.any? %>
    <div id="cities" class="mt-12">
      <section class="flex flex-col w-full gap-4">
        <div class="flex items-center justify-between w-full">
          <h2 class="text-primary shrink-0">Cities</h2>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-8 lg:gap-x-12 gap-y-2 min-w-full">
          <% @events_by_city.each do |city, events| %>
            <%= link_to city_path(city.parameterize), id: "city-#{city.parameterize}", class: "event flex justify-between items-center" do %>
              <div class="flex items-center gap-2">
                <span class="event-name"><%= city %></span>
              </div>
              <%= ui_badge(events.count, kind: :secondary, outline: true, size: :lg, class: "min-w-10") %>
            <% end %>
          <% end %>
        </div>
      </section>
    </div>
  <% end %>
</div>
