<h2 class="text-2xl font-bold mb-4">Stamp</h2>

<% country_stamp = Stamp.country_stamps.sample %>

<% contributor_stamp = Stamp.contributor_stamp %>

<% passport_stamp = Stamp.passport_stamp %>

<% triathlon_2025_stamp = Stamp.triathlon_2025_stamp %>

<% conference_speaker_stamp = Stamp.conference_speaker_stamp %>

<% meetup_speaker_stamp = Stamp.meetup_speaker_stamp %>

<% attend_one_event_stamp = Stamp.attend_one_event_stamp %>

<% online_stamp = Stamp.online_stamp %>

<h3>Types</h3>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 mt-4 mb-8">
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(country_stamp, size: :xl) %>
    Country Stamp
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(contributor_stamp, size: :xl) %>
    Contributor Stamp
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(passport_stamp, size: :xl) %>
    Passport Stamp
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(triathlon_2025_stamp, size: :xl) %>
    Triathlon 2025 Stamp
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(conference_speaker_stamp, size: :xl) %>
    Conference Speaker Stamp
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(meetup_speaker_stamp, size: :xl) %>
    Meetup Speaker Stamp
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(attend_one_event_stamp, size: :xl) %>
    Attend One Event Stamp
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(online_stamp, size: :xl) %>
    Online Stamp
  </div>
</div>

<h3>Sizes</h3>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 mt-4 mb-8">
  <% [:sm, :md, :lg, :xl].each do |size| %>
    <div class="flex flex-col gap-2 items-center text-center">
      <%= size %>
      <%= ui_stamp(country_stamp, size: size) %><br>
    </div>
  <% end %>

  <% [:sm, :md, :lg, :xl].each do |size| %>
    <div class="flex flex-col gap-2 items-center text-center">
      <%= size %> (with rotate and zoom effect)
      <%= ui_stamp(country_stamp, size: size, rotate: true, zoom_effect: true) %><br>
    </div>
  <% end %>
</div>

<p>Interactive vs Static</p>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 mt-4 mb-8">
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(country_stamp, interactive: true, size: :xl) %><br>
    Interactive
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(country_stamp, interactive: false, size: :xl) %><br>
    Static
  </div>
</div>

<p>Custom Rotation</p>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 mt-4 mb-8">
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(country_stamp, rotate: true, size: :xl) %><br>
    Rotated
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(country_stamp, rotate: false, size: :xl) %><br>
    Straight
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(country_stamp, rotate: true, size: :xl, zoom_effect: true) %><br>
    Rotated with zoom effect
  </div>
  <div class="flex flex-col gap-2 items-center text-center">
    <%= ui_stamp(country_stamp, rotate: false, size: :xl, zoom_effect: true) %><br>
    Straight with zoom effect
  </div>
</div>
